body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px;
    
}

table{
    width:50%;
    border-collapse: collapse;
    margin:10px 0;
    color:black;
}

table,th,td{
    border:1px solid black
}

th,td{
    padding:10px;
    text-align: left;
}

select{
    padding:5px;
}