body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px;
    align-content: center;
    justify-content: center;
    background-color: black;
    color: white;
}

table{
    width:50%;
    border-collapse: collapse;
    margin:10px 0;
    color:white;
}

table,th,td{
    border:1px solid white;
}

th,td{
    padding:10px;
    text-align: left;
}

select{
    padding:5px;
}

#gpa-button{
    align-items: center;
    justify-content: center;
}